<launch>

    <arg name="baud" default="115200"/>
    <!-- <arg name="receiver_port" default="/dev/serial/by&#45;path/pci&#45;0000:00:14.0&#45;usb&#45;0:1:1.0"/> -->
    <!-- <arg name="sender_port" default="/dev/serial/by&#45;path/pci&#45;0000:00:14.0&#45;usb&#45;0:2:1.0"/> -->

    <arg name="receiver_port" default="/dev/ttyACM0"/>
    <arg name="sender_port" default="/dev/ttyACM1"/>


    <node name="pozyx_receiver" pkg="rosserial_python" type="serial_node.py"
		output="screen" required="true">
        <param name="baud" value="$(arg baud)"/>
        <param name="port" value="$(arg receiver_port)"/>
    </node>

    <node name="pozyx_sender" pkg="rosserial_python" type="serial_node.py"
		output="screen" required="true">
        <param name="baud" value="$(arg baud)"/>
        <param name="port" value="$(arg sender_port)"/>
    </node>

    <arg name="host" default="192.168.1.129" />
    <arg name="port" default="8080"/>

    <node pkg="canopy_client" type="client_node.py" name="canopy_node" output="screen">
        <param name="name" value="$(env CAR_FRAME_ID)"/>
        <param name="host" value="$(arg host)"/>
        <param name="port" value="$(arg port)"/>
        <param name="private_key" value="EjAodXdkTz6RPETFE" />
        <param name="description" value="qux robot" />
        <rosparam>
            publishing:
                - /control
                - /fix
                - /consensus
                - /lidar_pose
            types:
                - multi_car_msgs/CarControl
                - sensor_msgs/NavSatFix
                - multi_car_msgs/ConsensusMsg
                - multi_car_msgs/LidarPose
            trusted:
                - ".*"
                - ".*"
                - ".*"
                - ".*"
            global_frames:
                - $(env CAR_FRAME_ID)
                - earth
                - map
        </rosparam>

    </node>
</launch>
